body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header{
  padding: 20px;
  background-color: rgb(189, 192, 221);
  font-weight: bold;
}
footer{
  background-color: rgb(189, 192, 221);
  font-weight: bold;
  
}
.imgthumbnail{
  width: 100%;
  height: 265px;
}
.card{
  background-color: rgb(194, 209, 231);
}
#contain{
  width: 700px;
  margin-top: 190px;
  margin-bottom: 20px;
font-weight: bold;
}
#bi{
  margin-bottom: 136px;
}

#notfound {
  position: relative;
  height: 100vh;
}
#notfound .notfound {
  position: absolute;
  left: 53%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.notfound {
  max-width: 560px;
  width: 100%;
  padding-left: 160px;
  line-height: 1.1;
}

.notfound .notfound-404 {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 140px;
  height: 140px;
  background-image: url(https://colorlib.com/etc/404/colorlib-error-404-18/img/emoji.png);
  background-size: cover;}

  .notfound p {
    font-family: nunito,sans-serif;
    color: #999fa5;
    font-weight: 400;
  }
.notfound a {
    font-family: nunito,sans-serif;
    display: inline-block;
    font-weight: 700;
    border-radius: 40px;
    text-decoration: none;
    color: #388dbc;
}
.notfound h2 {
  font-family: nunito,sans-serif;
  font-size: 21px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #151723;
}
.notfound .notfound-404:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(2.4);
  border-radius: 50%;
  background-color: #f2f5f8;
  z-index: -1;
}
.notfound h1 {
  font-family: nunito,sans-serif;
  font-size: 65px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
  color: #151723;
  text-transform: uppercase;
}
.bl{
  margin-top: 150px;
  margin-bottom: 76px;
  font-weight: bold;
}
